/target
/.vscode
/benches
/examples
/doc/_minted
/doc/*.aux
/doc/*.glo
/doc/*.gls
/doc/*.ilg
/doc/*.idx
/doc/*.ikv
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.log
/doc/*.gz
/doc/*.toc
/doc/test*
/doc/*.luarun.*
